﻿@if (this.User.IsInRole("Admin"))
{
    <li>@Html.ActionLink("Roles", "Roles", "Admin")</li>
    <li>@Html.ActionLink("Create Role", "Create", "Admin")</li>
}
else
{
    <li>@Html.ActionLink("My Tickets", "MyTickets", "Tickets")</li>
}
