﻿@model IEnumerable<MIFProjects.Support.Model.Ticket>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Customer.CustomerName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Subject)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Body)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Department.Name)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.State.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Date)
    </th>
    <th></th>
</tr>