﻿@model IEnumerable<MIFProjects.Support.Model.TicketAction>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Date)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UserName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Comment)
    </th>
</tr>