﻿@model MIFProjects.Support.Model.Ticket
<tr>
    <td>
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Subject)
    </td>
    <td>
        @Html.DisplayFor(model => model.Body)
    </td>
    <td>
        @Html.DisplayFor(model => model.Department.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.State.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Date)
    </td>

    <td>
        @*@Html.ActionLink("Assign to me", "AssignToMe", new { id = Model.Id }) |*@
        @Html.ActionLink("Details", "Details", new {id = Model.Id})
        @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
    </td>
</tr>