﻿@model MIFProjects.Support.Model.TicketAction
<tr>
    <td>
        @Html.DisplayFor(model => model.Date)
    </td>
    <td>
        @Html.DisplayFor(model => model.UserName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Comment)
    </td>
</tr>