﻿@model MIFProjects.Support.Model.Customer

@{
    ViewBag.Title = "TicketsByCustomer";
}

<h2>Tickets of @Model.CustomerName</h2>

<p>
    @Html.ActionLink("Create ticket", "Create")
</p>
<table class="table">
    
    @Html.Partial("_TicketsHeaderPartial", Model.Tickets)
       
    @foreach (var item in Model.Tickets)
    {
            @Html.Partial("_TicketItemPartial", item)
    }
</table>