﻿@using MIFProjects.Support.Models
@model MIFProjects.Support.Model.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <p>
        @if (Request.IsAuthenticated)
        {

            @Html.ActionLink("Assign to me", "AssignToMe", new { id = Model.Id })
            <a>|</a>
            @Html.ActionLink("Change State", "ChangeState", new { id = Model.Id })
        }
        else
        {
            @Html.ActionLink("All My Tickets", "ByCustomer", new { id = Model.CustomerId })
        }

    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        @if (Request.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner.UserName)
            </dd>
        }
    </dl>
</div>

<div>
    <table class="table">
        @Html.Partial("_TicketActionsHeaderPartial", Model.Actions)
        
        @foreach (var item in Model.Actions)
        {
            @Html.Partial("_TicketActionItemPartial", item)
        }
    </table>
    @Html.Partial("_TicketCommentPartial", new TicketActionViewModel{TicketId = Model.Id})
   
</div>
