﻿@model IEnumerable<MIFProjects.Support.Model.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Create ticket", "Create")
</p>
<table class="table">

    @Html.Partial("_TicketsHeaderPartial")

    @foreach (var item in Model)
    {
        @Html.Partial("_TicketItemPartial", item)
    }

</table>