﻿@model IEnumerable<MIFProjects.Support.Model.Ticket>

@{
    ViewBag.Title = "MyTickets";
}

<h2>MyTickets</h2>

<table class="table">

    @Html.Partial("_TicketsHeaderPartial")

    @foreach (var item in Model)
    {
        @Html.Partial("_TicketItemPartial", item)
    }

</table>
